/* body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background-color: #d6d0d0;
}
.frame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #a5a0a0;
  padding: 1em;
  margin: 1em;
  border-radius: 7px;
}

.playScreen {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.base,
.attack {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  row-gap: 3px;
}

.base > div,
.attack > div,
.base > span,
.attack > span {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  height: 1rem;
  column-gap: 1px;
}

.base > div > div,
.attack > div > div {
  border: solid 2px black;
  text-align: center;
  font-size: 0.8em;
}

.menu {
  margin-top: 35px;
  text-align: center;
}
.menu > div {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 2px black solid;
}

.playerTwo {
  position: absolute;
  z-index: 1;
  max-width: 39%;
}
.playerOne {
  position: absolute;
  z-index: 2;
  max-width: 39%;
}

.popup {
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 300px;
  position: absolute;
  max-width: 20%;
  text-align: center;
  z-index: 0;
  background-color: #b39b80;
}
.instructionPopup {
  margin: 20px 20px 10px 20px;
}

.buttonPopup {
  margin: 10px 20px 20px 20px;
}

.veil {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #333131;
  opacity: 70%;
}

.hardVeil {
  position: absolute;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #333131;
}
.hardVeil > div {
  display: grid;
  height: 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 100px;
  background-color: green;
  padding: 30px;
  border-radius: 6px;
  border: 2px black solid;
}
.texts {
  margin-top: 40px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.pve {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.pvp {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 10px;
  grid-column: 1/ 2;
  grid-row: 2 / 3;
}

.gameSetup {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: #333131;
  display: flex;
  justify-content: center;
}
.gameSetupDisplay {
  width: 80%;
  height: 40%;
  margin-top: 75px;
  background-color: #fff;
  border-radius: 6px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.gameSetupDisplay > div {
  text-align: center;
}
td {
  text-align: center;
}
td > img {
  height: 30px;
}
.placeButton {
  align-self: center;
}

.draggable {
  cursor: move;
} */

body {
  display: grid;
  margin: 0;
  background-color: beige;
}

body > div {
  position: absolute;
}

/* First game screen */
.gameScreenOne {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 2em 1em 2em 1em;
  background-color: rgb(176, 255, 255);
  border: 2px solid black;
  width: 50%;
  border-radius: 5px;
}
.title {
  padding: 20px;
  text-align: center;
  grid-column: 1 / 3;
}

.gameScreenOne > button {
  padding: 5px 10px 5px 10px;
  align-self: center;
  justify-self: center;
}

/* Second game screen (choose subs to play with) */
.gameScreenTwo {
  justify-self: center;

  display: grid;
  grid-template-rows: 1fr 4fr 1fr 0.5fr;

  margin: 2em 1em 2em 1em;
  padding: 1em 0 1em 0;
  background-color: rgb(176, 255, 255);
  border: 2px solid black;
  width: 50%;
  border-radius: 5px;
}
.gameScreenTwo > * {
  justify-self: center;
}
table {
  text-align: center;
}
th,
td {
  padding-right: 25px;
}
td > img {
  height: 25px;
}

.errorMessage {
  padding-top: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  color: red;
}

/* Third game screen (place selected subs) */
.gameScreenThree {
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 8fr;

  margin: 2em 1em 2em 1em;
  padding: 1em 0 1em 0;
  background-color: rgb(176, 255, 255);
  border: 2px solid black;
  width: 70%;
  border-radius: 5px;
}
.gameScreenThree > * {
  justify-self: center;
}
.screenThreeTitle {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.gameBoard > div {
  /* align-self: center; */
  /* justify-self: center; */
  background-color: white;
  text-align: center;
  padding-top: 5px;
  height: 25px;
  width: 30px;
  border: 1px solid black;
}

/* Hides all current irrelevent displays  put this right at the bottom*/
.hidden {
  display: none;
}
